/* The usually required file likely to contain all or most of your message style styling. */

body {
	color: #eff0f1;
	background-color: #31363b;
	/* width: 30em; */
	height: auto;
}

h1 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	font-size: 100%;
	background-color: #232629;
	padding-top: 0.3em;
	padding-bottom: 0.2em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

h1 img {
	display: inline-block;
	width: 32;
	height: 32;
	padding: 2px;
}

.time {
	width: 100%;
	text-align: right;
}

.sender {
	padding-left: 0.3em;
	text-transform: capitalize;
	white-space: nowrap;
}

.message {
	display: block;
	padding-left: 0.3em;
	padding-right: 0.3em;
	padding-bottom: 0.3em;
}

.nextmessage {
	border-top: 1px dashed #232629;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #31363b;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #31363b;
}

body::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #232629;
}

